/* COLORS
===========================
Important: Always define primary color
*/

$color-primary: #2abfd4;
//$color-secondary: #ff0000; (Use or remove)
//$color-extra:  #00ff00; (Use or remove)

$white: #FFF;
$grey-light: #e2e4e7;
$grey: #b1b3b7;
$grey-dark: #626467;
$black: #000;

/* SOCIAL MEDIA */

$facebook-color: #3b5999;
$twitter-color: #55acee;
$linkedin-color: #0077b5;
$youtube-color: #cd201f;
$instagram-color: #e4405f;




/* TEXT COLORS
=========================== */

.text-primary { color: $color-primary !important }
.text-white { color: $white !important }
.text-black { color: $black !important }
.text-grey { color: $grey !important }

/* BACKGROUND COLORS
=========================== */

.bg-primary { background-color: $color-primary !important }
.bg-grey{ background-color: $grey !important; }
.bg-grey-dark{ background-color: $grey-dark !important; }
.bg-grey-light{ background-color: $grey-light !important; }