/* HEADER */

header {
}

.cms-toolbar-expanded {
  .navbar-fixed-top {
    top: 45px;
  }
}
  
.navbar {
  border-radius: 0;
}

.navbar-brand {
  height: auto;
}

.navbar-toggle {
 @include transition-sm();
 border: none;
 border-radius: 0;
 padding: 23px;
 .icon-bar {
   @include transition-sm();
   background-color: $grey-light;
   width: 18px;
   transform: rotate(45deg);
   &:first-child {
     transform: translateY(6px) rotate(-45deg);
   }
   &:last-child {
     transform: translateY(-6px) rotate(0);
     opacity: 0;
   }
 }
 &.collapsed .icon-bar {
   transform: rotate(0);
   &:first-child {
     transform: translateY(0) rotate(0);
   }
   &:last-child {
     opacity: 1;
   }
 }
}