{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'main.css'%}">
</head>
<main>
    <div class="card-deck">
        {% for manufacturer in manufacturers %}
        <div class="card">
            <div class="carblock">
                <center>
                    <div class="avatar" style="background-image:url({{manufacturer.image}})"></div>
                </center>
                <br>
                <br>
                <center>
                    <h4 class="card-title">{{manufacturer.name}}</h4>
                    <p class="card-text">{{manufacturer.slogan}}</p>
                    <p class="card-text">{{manufacturer.email}}</p>
                    <p class="card-text">{{manufacturer.telephone}}</p>
                </center>
            </div>
        </div>
        {% endfor %}
    </div>
</main>