{% load staticfiles pipeline %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta property="og:image" content="{% static 'img/social-network.png' %}"/>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/vendors.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        {% block extra_css %}{% endblock %}
        <link rel="icon" href="{% static 'img/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'img/touch-icon.png' %}">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="{% block bodyid %}{% endblock %}" ontouchstart="">
    {% block header %}
        {% include '_header.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        {% include '_footer.html' %}
    {% endblock %}
    {% block extra_js %}{% endblock %}
	<!-- cache version {% now 'Y-m-d H:i:s' %} -->
    </body>
</html>

