#
# !!! THIS FILE IS MAINTAINED BY PUPPET !!!
#

upstream django {
    server 127.0.0.1:49152 fail_timeout=30;
}

server {
    listen 80 default;
    client_max_body_size 100M;

    access_log <%= @logs %>/nginx-access.log;
    error_log  <%= @logs %>/nginx-error.log;

    location /media/ {
        alias   <%= @project_path %>/media/;
        expires 1d;
    }

    location /static/ {
        alias   <%= @project_path %>/static/;
        expires 365d;
    }

    location /favicon.ico {
        alias   <%= @project_path %>/static/favicon.ico;
        expires 365d;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass    django;
        uwsgi_read_timeout 300;
        uwsgi_param   Host                 $host;
        uwsgi_param   X-Real-IP            $remote_addr;
        uwsgi_param   X-Forwarded-For      $proxy_add_x_forwarded_for;
        uwsgi_param   X-Forwarded-Proto    $http_x_forwarded_proto;
    }
 
    gzip on;
    gzip_min_length 500;
    gzip_proxied any;
    gzip_comp_level 2;
    gzip_http_version 1.0;
    gzip_buffers 16 8k;
    gzip_types text/plain text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_disable "MSIE [1-6].(?!.*SV1)";
    gzip_vary on;
}