#
# !!! THIS FILE IS MAINTAINED BY PUPPET !!!
#

[program:<%= @project_name %>_celery_beat]
user=<%= @project_user %>
command=<%= @venv_dir %>/bin/celery beat -A <%= @project_name %>
directory=<%= @project_path %>
redirect_stderr=true
stdout_logfile=<%= @logs %>/celery_beat.log
stderr_logfile=<%= @logs %>/celery_beat.log
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8

[program:<%= @project_name %>_celery_worker]
user=<%= @project_user %>
command=<%= @venv_dir %>/bin/celery worker -A <%= @project_name %>
directory=<%= @project_path %>
redirect_stderr=true
stdout_logfile=<%= @logs %>/celery_worker.log
stderr_logfile=<%= @logs %>/celery_worker.log
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8

[program:<%= @project_name %>_wsgi]
user=<%= @project_user %>
command=<%= @venv_dir %>/bin/uwsgi --ini <%= @home %>/uwsgi.ini
directory=<%= @project_path %>
redirect_stderr=true
stdout_logfile=<%= @logs %>/supervisor_uwsgi.log
stderr_logfile=<%= @logs %>/supervisor_uwsgi.log
environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8 
