#
# !!! THIS FILE IS MAINTAINED BY PUPPET !!!
#

[uwsgi]
binary-path=<%= @venv_dir %>/bin/uwsgi
chdir=<%= @project_path %>
module=<%= @project_name %>.wsgi:application
master=true
processes=4
env=LANG='en_US.UTF-8'
socket=127.0.0.1:49152
logto=<%= @logs %>/uwsgi.log
pidfile=<%= @home %>/uwsgi.pid
max-requests=5000
